.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 35px;
  align-items: center;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-color);
}

/* Dark Mode Toggle Button */
.theme-toggle i {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}

.theme-toggle:hover {
  opacity: 0.7;
}
